@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root {
    --bs-link-color: #872f19;
    --bs-link-hover-color: #7a220c;
}

.btn {
    --bs-btn-bg: #bda488;
    --bs-btn-border-color: #bda488;
    --bs-btn-hover-bg: #A6705D;
    --bs-btn-hover-border-color: #A6705D;
    --bs-btn-active-bg: #bda488;
    --bs-btn-active-border-color: #bda488;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #F9F9F9;
}

main {
    margin-top: 5rem;
}

section {
    scroll-margin-top: 6rem;
}
.d-none{
    display: flex;
}

.navbar-nav {
    align-items: center;
}

.navbar-brand img, .footer img {
    width: 80px;
}

.navbar-brand {
    margin: 0 1.5rem;
}

.navbar-toggler {
    border: none;
}

.nav-tabs .nav-link.active {
    background-color: #eee9;
}

.form-control {
    border: none;
}

.carousel-item {
    height: 31.25rem;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-item::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent, rgba(31, 31, 31, 0.767));
    position: absolute;
}

.qualidade_Produtos {
    color: #a68a6a;
}

.qualidade_Produtos > h2 {
    font-weight: 600;
}

.text_cite {
    padding: 5rem 0;
    background-image: url(/assets/img/beans4.jpg);
    background-color: #602b05;
    color: #f1aa04;
}

.text_cite h3 {
    font-weight: 700;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    font-size: 2.5rem;
}

.blockquote-footer {
    color: #e6e6e6;
}

.about {
    border: none;
    background: transparent;
}

.about-text h5 {
    font-weight: 900;
    font-size: 1.5rem;
}

.img-fluid {
    height: 100%;
    object-fit: cover;
}

.row .g-0 {
    height: 100%;
    min-height: 20rem;
}

.card-menu {
    box-shadow: #00429339 0 1px 4px -1px, #0000002e 0 1px 3px -1px;
    border-radius: 20px;
}

.card-menu img {
    height: 18.75rem;
    object-fit: contain;
}

.card-title, .modal-title{
    color: #a68a6a;
}

.modal-header {
    border-bottom: none;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.modal-content {
    position: relative;
    width: 100%;
    max-width: 37.5rem;
    border-radius: 20px;
    box-sizing: border-box;
}

.modal-body img {
    max-width: 70%;
    max-height: 70%;
    object-fit: contain;
}

.modal-body {
    text-align: center;
}

.experience-section {
    text-align: center;
    padding: 3rem 0;
}

.container_experience {
    max-width: 50rem;
    margin: 0 auto;
}

.experience-section h5 {
    color: #a68a6a;
    font-weight: 400;
    font-size: .825rem;
}

.experience-section h2 {
    color: #a68a6a;
    margin: 1rem 0;
    font-weight: 600;
}

.experience-section p {
    color: #a68a6a;
    margin: 1rem 0 2rem;
}

.experience-section .btn-primary {
    background-color: var(--bs-btn-bg);
    border-color: var(--bs-btn-bg);
    border-radius: 25px;
    padding: 0.5rem 2rem;
}

.experience-section .btn-primary:hover {
    background-color: var( --bs-btn-hover-bg);
    border-color: var( --bs-btn-hover-bg);
}

.footer {
    background-color: #bda488;
    color: white;
    padding: 1.5rem 0;
}

.footer .list-footer a, .social-icons a {
    color: white;
    text-decoration: none;
    margin: 0 1rem;
}

.footer .list-footer a:hover {
    font-weight: bold;
}

.footer .social-icons a {
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

.social-icons {
    margin-bottom: 1rem;
}

.footer .whatsapp-button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 25px;
    font-size: 12px;
}

.footer .whatsapp-button:hover {
    background-color: white;
    color: #a68a6a;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    margin: 1rem 0;
}

.allDirects {
    font-weight: 100;
    font-size: .825rem;
}

@media (max-width: 600px) {
    .navbar-brand img, .footer img {
        width: 50px;
    }

}
